.SP__display
  .header
    - 3.times do |i|
      .ad
        .ad__header
        .ad__block1
          .ad__period__section
            %p 掲載期限
          .ad__period
            = "2018/05/14"
          .ad__title1
            = "【未経験OK!】"
          .ad__title2
            = "携帯販売スタッフ〜駅近5分〜"
        .ad__block2
          .job__introduction__section お仕事内容
          .job__introduction
            .introduction__text
              = "家電量販店での店頭販売スタッフのお仕事！ まずは品出しやお客様のご案内などカンタンなお仕事からお任せします。その後、携帯の販売など徐々に複数の業務をお願いしていきます。"
        .ad__block3
          .ad__table
            %table
              %tbody
                %tr
                  %th
                    .job__info__section 時給
                  %td
                    .job__info
                      = "1400円▪️翌日払いOK(規定あり)＊ご経験等を考慮した上で、スタート時給を決定いたします。"
                  .dashed_line
                %tr
                  %th
                    .job__info__section 勤務地
                  %td
                    .job__info
                      = "鴨宮・平塚・たまプラーザ・センター北・大口・二俣川・上大岡など！／その他神奈川県エリアに多数★"
                %tr
                  %th
                    .job__info__section 勤務曜日
                  %td
                    .job__info
                      = "土日祝含む週3日～OK"
                %tr
                  %th
                    .job__info__section 勤務時間
                  %td
                    .job__info
                      = "10：00～21：00のあいだで実働8時間"
                %tr
                  %th
                    .job__info__section スキル・経験
                  %td
                    .job__info
                      = "【未経験OK】丁寧な研修で未経験でも多数の人員が活躍しています。やる気と思いやりの気持ちさえあれば大丈夫な環境です！"
        .ad__footer
          .button__a 応募する!
          .button__b 気になる！
          .button__c 詳しくみる!