.form-content
  = form_for @jobad, url: jobad_path do |f| #ロケットで書いてるので後で書く
    = f.label :name, "求人名"
    = f.text_field :name
    = f.label :introduction, "詳細"
    = f.text_field :introduction
    = f.submit "編集完了"
