.container
  .profile
    = link_to "Sign out", destroy_user_session_path, method: :delete
  .link
    = link_to '求人作成', "/jobads/new"
  .jobad
    - @jobads.each do |jobad|
      %table
        %tbody
          %tr
            %th
              .jobad__name__section 求人
            %td
              .jobad__name
                = jobad.name
              = if admin_signed_in?
                .jobad__detail
                  = link_to "詳細", "/jobads/#{jobad.id}"
          %tr
            %th
              .jobad__introduction__section 求人情報
            %td
              .jobad_introduction
                = jobad.introduction