.container
  .link
    = link_to '求人作成', "/jobads/new"
  .jobad
    - @jobads.each do |jobad|
      %table
        %tbody
          %tr
            %th
              .jobad__name__section 求人
            %td
              .jobad__name
                = link_to "#{jobad.name}", "/jobads/#{jobad.id}"
          %tr
            %th
              .jobad__introduction__section 求人情報
            %td
              .jobad_introduction
                = jobad.introduction